* {
    margin: 0;
    padding: 0;
}

:root {
    --naranja: #d95550;
    --naranjaClaro: #dd6662;
    --naranjaSuperClaro: #f89e8b;
    --blanco: #fff;
    --gris: #55557b;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--naranja);
}

h1 {
    margin-top: 20px;
    color: var(--blanco);
    text-align: center;
}

form {
    width: 400px;
    margin: 45px auto;
    text-align: center;
}

form>input[type="text"] {
    background-color: var(--naranja);
    color: var(--blanco);
    border-style: none;
    font-size: 1.5em;
}

form>input[type="text"]::placeholder {
    color: var(--naranjaSuperClaro);
}

form>input[type="text"]:focus{
    outline: none;
}

form>input[type="submit"]{
    font-size: 2em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: none;
    color: var(--naranja);
}

form>input[type="submit"]:hover{
    background-color: var(--naranjaSuperClaro);
    cursor: pointer;
    color: var(--blanco);
}

.list-container{
    width: 400px;
    margin: 0 auto;
    max-height: 38.2vh;
    border-radius: 5px;
    padding: 10px;
    overflow-y: auto;
}

.task-container{
    background-color: var(--blanco);
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 16px;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: 500;
    color: var(--gris);
}

.closeBtn{
    width: 15px;
    height: 15px;
}

.closeBtn:hover{
    cursor: pointer;
}

#stats{
    margin-top: 25px;
    font-size: 1.3em;
    color: var(--naranjaSuperClaro);
    text-align: center;
}